includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
      - src # <hasConfig> #
      - config # </hasConfig> # # <hasDatabase> #
      - database # </hasDatabase> #

    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: true
